In [1]:
import pandas as pd
import numpy as np
from PIL import Image
from sklearn.cluster import KMeans 
from sklearn.model_selection import StratifiedShuffleSplit

In [2]:
df=pd.read_csv('./Weed-4class-2/Weed-4class-2-labels.csv')

In [3]:
file_names=[]
for i in df["Filename"]:
  file_names.append("./Weed-4class-2/"+i)

In [4]:
df

                   Filename  Label       Species
0     20160928-140314-0.jpg      0  Chinee apple
1     20160928-140337-0.jpg      0  Chinee apple
2     20160928-140731-0.jpg      0  Chinee apple
3     20160928-140747-0.jpg      0  Chinee apple
4     20160928-141107-0.jpg      0  Chinee apple
...                     ...    ...           ...
4222  20171025-172145-3.jpg      3    Parthenium
4223  20171025-172200-3.jpg      3    Parthenium
4224  20171025-172226-3.jpg      3    Parthenium
4225  20171025-172236-3.jpg      3    Parthenium
4226  20171025-172247-3.jpg      3    Parthenium

[4227 rows x 3 columns]

In [5]:
df["fullpath"]=file_names

In [6]:
df

,Filename,Label,Species,fullpath
0,20160928-140314-0.jpg,0,Chinee apple,./Weed-4class-2/20160928-140314-0.jpg
1,20160928-140337-0.jpg,0,Chinee apple,./Weed-4class-2/20160928-140337-0.jpg
2,20160928-140731-0.jpg,0,Chinee apple,./Weed-4class-2/20160928-140731-0.jpg
3,20160928-140747-0.jpg,0,Chinee apple,./Weed-4class-2/20160928-140747-0.jpg
4,20160928-141107-0.jpg,0,Chinee apple,./Weed-4class-2/20160928-141107-0.jpg
...,...,...,...,...
4222,20171025-172145-3.jpg,3,Parthenium,./Weed-4class-2/20171025-172145-3.jpg
4223,20171025-172200-3.jpg,3,Parthenium,./Weed-4class-2/20171025-172200-3.jpg
4224,20171025-172226-3.jpg,3,Parthenium,./Weed-4class-2/20171025-172226-3.jpg
4225,20171025-172236-3.jpg,3,Parthenium,./Weed-4class-2/20171025-172236-3.jpg
4226,20171025-172247-3.jpg,3,Parthenium,./Weed-4class-2/20171025-172247-3.jpg

In [7]:
arrays=[]
for i in df["fullpath"]:
  arrays.append(np.asarray(Image.open(i)).astype(np.float32))

In [8]:
df['arrays']=arrays

In [10]:
sampledf=df[["Label","arrays"]]

In [11]:
X = np.asarray(sampledf["arrays"])

y = np.asarray(sampledf["Label"]).astype(np.float32)

X=X/255.0

#kmeans = KMeans(n_clusters=2, random_state=0, n_init="auto").fit(X)

In [12]:
xlist=[]
for i in range(len(X)):
    xlist.append(X[i].flatten())

In [ ]:
KMeans(n_clusters=4,random_state=0,n_init="50",init="random").fit(xlist)

In [34]:
sampledf

      Label                                             arrays
0         0  [[[59.0, 60.0, 52.0], [49.0, 50.0, 42.0], [73....
1         0  [[[58.0, 54.0, 45.0], [66.0, 69.0, 58.0], [37....
2         0  [[[75.0, 82.0, 98.0], [108.0, 115.0, 131.0], [...
3         0  [[[79.0, 82.0, 91.0], [66.0, 69.0, 76.0], [60....
4         0  [[[223.0, 240.0, 234.0], [109.0, 125.0, 122.0]...
...     ...                                                ...
4222      3  [[[88.0, 86.0, 89.0], [30.0, 31.0, 35.0], [9.0...
4223      3  [[[28.0, 36.0, 38.0], [12.0, 20.0, 22.0], [4.0...
4224      3  [[[68.0, 77.0, 76.0], [63.0, 72.0, 71.0], [21....
4225      3  [[[11.0, 33.0, 30.0], [18.0, 40.0, 37.0], [39....
4226      3  [[[39.0, 68.0, 50.0], [135.0, 166.0, 148.0], [...

[4227 rows x 2 columns]